Data/macros.json
src/__pycache__/gui.cpython-312.pyc
src/__pycache__/macro_manager.cpython-312.pyc
src/__pycache__/serial_manager.cpython-312.pyc
src/__pycache__/main.cpython-312.pyc
src/__pycache__/utils.cpython-312.pyc
src/__pycache__/gui.cpython-312.pyc


