QPushButton {
    background-color: #5cc069;
    color: white;
    border-radius: 5px;
    padding: 10px; /* Ensures uniform padding */
}

QPushButton:hover {
    background-color: #00f0a8;
}

QPushButton:pressed {
    background-color: #009113;
}

QDockWidget {
    border: 0px;
}

QDockWidget::title {
    background-color: transparent;
    text-align: center;
    height: 0px;
    padding: 0px;
    margin: 0px;
}
